<md-card class="card-list-of-projects mat-elevation-z8">
    <md-card-title> List of Projects </md-card-title>

    <div class="example-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Projects">
        </md-input-container>
    </div>
    <md-table #table [dataSource]="dataSource" mdSort>

        <ng-container cdkColumnDef="userId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="commandReference">
            <md-header-cell *cdkHeaderCellDef md-sort-header>Reference</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.commandReference}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="name">
            <md-header-cell *cdkHeaderCellDef md-sort-header> name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="plannedAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> plannedAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.plannedAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="deliveredAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> deliveredAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.deliveredAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="clientPlannedAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> clientPlannedAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.clientPlannedAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="clientDeliveredAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> clientDeliveredAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.clientDeliveredAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="state">
            <md-header-cell *cdkHeaderCellDef md-sort-header> state </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.state}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="budget">
            <md-header-cell *cdkHeaderCellDef md-sort-header> budget </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.budget}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <div style="display:auto">
                    <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
                    <a md-mini-fab [routerLink]="['/project', row._id]">
                        <md-icon>create</md-icon>
                    </a>
                </div>
            </md-cell>
        </ng-container>


        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

    <div class="example-no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No projects found matching filter.
    </div>

    <md-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>

</md-card>