<div class="example-sidenav-content">
  <button md-button class="md-icon-button" aria-label="Settings" >
    <i class="material-icons">list</i>
  </button>
  <span style="flex: 1 0 auto;"></span>
  <form class="example-form">
    <md-input-container fxFlex>
      <input mdInput placeholder="Search">
      <md-icon mdSuffix>search</md-icon>
    </md-input-container>
  </form>
  <button md-button class="md-icon-button" [mdMenuTriggerFor]="appMenu"><md-icon>settings</md-icon></button>
</div>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
