<md-card class="card-list-of-Variants mat-elevation-z8">
    <md-card-title> List of Variants </md-card-title>

    <div class="example-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Variants">
            </md-input-container>
  </div>

    <md-table #table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="userId">
    <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
  </ng-container>
        <ng-container cdkColumnDef="colorValue">
            <md-header-cell *cdkHeaderCellDef md-sort-header >colorValue</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.colorValue}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="size">
            <md-header-cell *cdkHeaderCellDef md-sort-header> size </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.size}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="lettersize">
            <md-header-cell *cdkHeaderCellDef md-sort-header> lettersize </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.lettersize}}</md-cell>
        </ng-container>
        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header > Action </md-header-cell>
            <md-cell  *cdkCellDef="let row">
               <div style="display:auto">
               <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
               <a md-mini-fab  [routerLink]="['/variant', row._id]"><md-icon>create</md-icon></a>
             </div>
            </md-cell>
        </ng-container>


        <ng-container cdkColumnDef="quantity">
            <md-header-cell *cdkHeaderCellDef md-sort-header> quantity </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.quantity}}</md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"  ></md-header-row>

        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <div style="display:auto">
                    <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
                    <a md-mini-fab [routerLink]="['/variant', row._id]">
                        <md-icon>create</md-icon>
                    </a>
                </div>
            </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>


        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

    <div class="example-no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No Variants found matching filter.
    </div>

    <md-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>

</md-card>
