<md-card class="card-list-of-employees mat-elevation-z8">
    <md-card-title> List of Employees </md-card-title>

    <div class="example-header" >
            <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Employees">
            </md-input-container>
  </div>
    <md-table #table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="userId">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>
        <ng-container cdkColumnDef="identifier">
            <md-header-cell *cdkHeaderCellDef md-sort-header >Identifier</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.identifier}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="fullName">
            <md-header-cell *cdkHeaderCellDef md-sort-header > FullName </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.fullName}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
            <md-header-cell *cdkHeaderCellDef md-sort-header > Email </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.email}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="phone">
            <md-header-cell *cdkHeaderCellDef md-sort-header > Phone </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.phone}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="hiringDate">
            <md-header-cell *cdkHeaderCellDef md-sort-header > hiringDate </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.hiringDate  | date :'shortDate' }}</md-cell>
        </ng-container>

         <ng-container cdkColumnDef="clientDeliveredAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header > clientDeliveredAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.clientDeliveredAt  | date :'shortDate'}}</md-cell>
        </ng-container>

         <ng-container cdkColumnDef="terminationDate">
            <md-header-cell *cdkHeaderCellDef md-sort-header > terminationDate </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.terminationDate  | date :'shortDate'}}</md-cell>
        </ng-container>

           <ng-container cdkColumnDef="job">
            <md-header-cell *cdkHeaderCellDef md-sort-header > job </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.job}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="state">
            <md-header-cell *cdkHeaderCellDef md-sort-header > state </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.state}}</md-cell>
        </ng-container>

          <ng-container cdkColumnDef="address">
            <md-header-cell *cdkHeaderCellDef md-sort-header > address </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.address}}</md-cell>
        </ng-container>
        <ng-container cdkColumnDef="Action">
         <md-header-cell *cdkHeaderCellDef md-sort-header > Action </md-header-cell>
         <md-cell  *cdkCellDef="let row">
            <div style="display:auto">
            <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
            <a md-mini-fab  [routerLink]="['/employee', row._id]"><md-icon>create</md-icon></a>
          </div>
         </md-cell>
     </ng-container>




        <md-header-row *cdkHeaderRowDef="displayedColumns"  ></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

            <div class="example-no-results"
            [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            No Employees found matching filter.
        </div>

        <md-paginator #paginator
                        [length]="dataSource.filteredData.length"
                        [pageIndex]="0"
                        [pageSize]="25"
                        [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>

</md-card>
