<md-card class="card-list-of-Terminals mat-elevation-z8">
    <md-card-title> List of Terminals </md-card-title>

    <div class="example-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Terminals">
        </md-input-container>
    </div>



    <md-table #table [dataSource]="dataSource" mdSort>

        <ng-container cdkColumnDef="userId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="macAddress">
            <md-header-cell *cdkHeaderCellDef md-sort-header>macAddress</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.macAddress}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="ipAddress">
            <md-header-cell *cdkHeaderCellDef md-sort-header> ipAddress </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.ipAddress}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="state">
            <md-header-cell *cdkHeaderCellDef md-sort-header> state </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.state}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="authorization">
            <md-header-cell *cdkHeaderCellDef md-sort-header> authorization </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.authorization}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <div style="display:auto">
                    <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
                    <a md-mini-fab [routerLink]="['/terminal', row._id]">
                        <md-icon>create</md-icon>
                    </a>
                </div>
            </md-cell>
        </ng-container>


        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

    <div class="example-no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No Terminals found matching filter.
    </div>

    <md-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>

</md-card>