<md-card class="card-list-of-invoices">
    <md-card-title> List of invoices </md-card-title>

    <div class="example-header" >
            <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter invoices">
            </md-input-container>
  </div>
    <md-table #table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="userId">
   <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
   <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
 </ng-container>
        <ng-container cdkColumnDef="totalPrice">
            <md-header-cell *cdkHeaderCellDef md-sort-header >totalPrice</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.totalPrice}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="netPrice">
            <md-header-cell *cdkHeaderCellDef md-sort-header > netPrice </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.netPrice}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="invoiceDate">
            <md-header-cell *cdkHeaderCellDef md-sort-header > invoiceDate </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.invoiceDate  | date :'shortDate' }}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header > Action </md-header-cell>
            <md-cell  *cdkCellDef="let row">
               <div style="display:auto">
               <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
               <a md-mini-fab  [routerLink]="['/invoice', row._id]"><md-icon>create</md-icon></a>
             </div>
            </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"  ></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

            <div class="example-no-results"
            [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            No invoices found matching filter.
        </div>

        <md-paginator #paginator
                        [length]="dataSource.filteredData.length"
                        [pageIndex]="0"
                        [pageSize]="25"
                        [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>

</md-card>
