<md-card>
  <md-card-title>
    Field Type Parameters
  </md-card-title>


  <div fxLayout="row">

    <div fxFlex>
      Field Type
    </div>

    <div fxFlex>
      Radio butons
    </div>

  </div>

  <div fxLayout="row">

    <div fxFlex>
      Values List
    </div>

  </div>

  <div class="radios" fxLayout="row">
    <md-input-container>
      <input mdInput placeholder="Value:" [(ngModel)]="radioName">
    </md-input-container>
    <button class="btn btn-primary addBtn" md-button (click)="addRadio(radioName); radioName='' ">
          Add
        </button>
  </div>


  <md-radio-group class="example-radio-group" [(ngModel)]="defaultRadio">
    <md-radio-button class="example-radio-button" *ngFor="let radio of radios" (click)="defaultRadio = radio" [value]="radio">
      {{radio}}
      <button md-button class="delete" (click)="deleteRadio(radio); ">x</button>
    </md-radio-button>
  </md-radio-group>

  <button [disabled]="butdisabled" md-raised-button color="primary" (click)="setRadios()" md-button>
    Submit Parameters
  </button>




</md-card>