<md-card class="card-list-of-Manufacturings mat-elevation-z8">
    <md-card-title> List of Manufacturings </md-card-title>

    <div class="example-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Manufacturings">
        </md-input-container>
    </div>



    <md-table #table [dataSource]="dataSource" mdSort>
        <ng-container cdkColumnDef="userId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="input">
            <md-header-cell *cdkHeaderCellDef md-sort-header>input</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.input}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="output">
            <md-header-cell *cdkHeaderCellDef md-sort-header> output </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.output}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="savedAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> savedAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.savedAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="releasedAt">
            <md-header-cell *cdkHeaderCellDef md-sort-header> releasedAt </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.releasedAt | date :'shortDate'}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="state">
            <md-header-cell *cdkHeaderCellDef md-sort-header> state </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.state}}</md-cell>
        </ng-container>
        <ng-container cdkColumnDef="note">
            <md-header-cell *cdkHeaderCellDef md-sort-header> note</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.note}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="Action">
            <md-header-cell *cdkHeaderCellDef md-sort-header> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <div style="display:auto">
                    <button md-mini-fab (click)="delete(row)"><md-icon>delete</md-icon></button>
                    <a md-mini-fab [routerLink]="['/manufacturing', row._id]">
                        <md-icon>create</md-icon>
                    </a>
                </div>
            </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>

        <md-row *cdkRowDef="let row; columns: displayedColumns;">
        </md-row>
    </md-table>

    <div class="example-no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No Manufacturings found matching filter.
    </div>

    <md-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>

</md-card>