.example-form {
  width: 500px;
}

.example-full-width {
  width: 50%;
}
md-card {
  max-width: 70%;
  margin: 2em auto;
  padding: 2em ;

}
md-card-actions{
 text-align : center ;
}
md-input-container{
      width : 50% ;
      margin : 10px ;
  }
span{
    max-width: 70%;
}
